@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Tanker";
    src: url(/fonts/tanker/Tanker-Regular.eot) format("eot");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Tanker";
    src: url(/fonts/tanker/Tanker-Regular.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Tanker";
    src: url(/fonts/tanker/Tanker-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Tanker";
    src: url(/fonts/tanker/Tanker-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
  }
}
